// Colors

$white: #fff;
$light-gray: #f0f0f0;
$slate: #333;
$black: #000;

$green: #008a00;
$blue: #0050ef;
$purple: #6a00ff;
$red: #e51400;
$orange: #da3b01;
$yellow: #ffb900;

$mousetip-crimson: #c31432;
$mousetip-pink: #e4007c;
