// Code

@use "../shared/animations";
@use "../shared/colors";
@use "../shared/effects";
@use "../shared/media";

// ---- Code ----

$border-color: darken(colors.$light-gray, 5%);
$border-color--dark: darken(colors.$slate, 10%);

.code {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid var(--code--border-color);
    border-radius: effects.$border-radius;
    overflow: hidden;
    box-shadow: var(--code--box-shadow);
    @include animations.transition(border-color, box-shadow);

    @include media.theme("light") {
        --code--border-color: #{$border-color};
        --code--box-shadow: #{effects.$drop-shadow};
    }

    @include media.theme("dark") {
        --code--border-color: #{$border-color--dark};
    }

    // ---- Example ----

    $example--background-color: colors.$white;
    $example--background-color--dark: darken(colors.$slate, 5%);

    &__example {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: var(--code__example--background-color);
        overflow: hidden;
        @include animations.transition(background-color);

        @include media.theme("light") {
            --code__example--background-color: #{$example--background-color};
        }

        @include media.theme("dark") {
            --code__example--background-color: #{$example--background-color--dark};
        }

        $mousetip--border-color: darken(colors.$light-gray, 10%);
        $mousetip--background-color: colors.$light-gray;

        $mousetip--border-color--dark: colors.$black;
        $mousetip--background-color--dark: darken(colors.$slate, 10%);

        [mousetip] {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border: 1px solid var(--mousetip--border-color);
            background-color: var(--mousetip--background-color);
            @include animations.transition(border-color, background-color);

            @include media.theme("light") {
                --mousetip--border-color: #{$mousetip--border-color};
                --mousetip--background-color: #{$mousetip--background-color};
            }

            @include media.theme("dark") {
                --mousetip--border-color: #{$mousetip--border-color--dark};
                --mousetip--background-color: #{$mousetip--background-color--dark};
            }

            span:first-child {
                margin-bottom: .25rem;
            }
        }
    }

    // ---- Snippet ----

    &__snippet {
        position: relative;
        margin-top: -1px;
        border-top: 1px solid transparent;
        @include animations.transition(border-color);
    }

    // ---- Copy ----

    &__copy {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: effects.$border-radius;
        background-color: rgba(colors.$black, 0.5);
        font-size: 1rem;
        font-weight: bold;
        line-height: 1;
        color: colors.$white;
        @include animations.transition(background-color);

        &:hover,
        &:focus {
            background-color: colors.$black;
        }
    }

    // ---- Syntax ----

    &__syntax {
        margin-bottom: 0;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    // ---- Example snippet ----

    &__example + &__snippet {
        border-color: var(--code--border-color);
    }
}
